[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
undetected-chromedriver = "*"
webdriver-manager = "*"
pillow = "*"
deepface = "*"
opencv-python = "*"
numpy = "*"
selenium-wire = "*"
blinker = "==1.4"
pydantic = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.8"
